@use 'src/styles/vars';

@keyframes blur {
    0% {
        filter: blur(0);
    }

    50% {
        filter: blur(10px);
    }

    100% {
        filter: blur(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

    // 100% {
    //     transform: rotate(0deg);
    // }
}

.error {
    margin: auto;
    text-align: center;

    h2 {
        transition-duration: 2s;
        animation: infinite blur 2s linear;
        margin: 2rem auto !important;
    }

    p {
        margin: 2rem;
        font-size: 1.5rem;
    }

    img {
        width: 7rem;
        transition-duration: 5s;
        animation: infinite rotate 5s linear;
        border-radius: 100%;
        box-shadow: 0px -1px 22px 0px vars.$violet;
        -webkit-box-shadow: 0px -1px 22px 0px vars.$violet;
        -moz-box-shadow: 0px -1px 22px 0px vars.$violet;
    }
}