$blackColor: #020304;
@use 'src/styles/vars';


@media screen and (max-width: 950px) {
    #header-nav {
        display: none;
    }
}

    #header-nav-mobile {

        #header-nav__join {
                // position: absolute;
                height: 60%;
                max-height: 40px;
                width: 300px;
                display: flex;
                // justify-content: space-between;
                // align-items: center;
            .join-click {
                // top: 0;
                border: none;
                border-radius: 0 0 5px 5px;
                width: 120px;
                margin-left: 0.5rem;
                background-color: vars.$orange;
                color: vars.$lightGrey;
                box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75) ;
                -webkit-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75) ;
                -moz-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75) ;
            }
        }
        .burger-check {
            display: none;
        }

        input + label {
            position: fixed;
            top: 12px;
            right: 40px;
            height: 20px;
            width: 15px; 
            z-index: 5;

            span {
                position: absolute;
                width: 100%;
                height: 2px;
                top: 50%;
                margin-top: -1px;
                left: 0;
                display: block;
                background: vars.$lightGrey;
                transition: .5s;
            }

            span:first-child {
                top: 3px; 
            }

            span:last-child {
                top: 16px; 
            }      
        }

        label:hover {
            cursor: pointer;
        }

        input:checked + label { 

            span {
                opacity: 0;
                top: 50%;
            }

            span:first-child {
                opacity: 1;
                transform: rotate(405deg);
            }

            span:last-child {
                opacity: 1;
                transform: rotate(-405deg);
            }
        }

        input ~ nav {
            // background
            background: vars.$violet;
            box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75) inset;
            -webkit-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75) inset;
            -moz-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75) inset;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 5%;
            z-index: 3;
            transition: .5s;
            transition-delay: .5s;
            overflow: hidden;

            > ul {
                text-align: center;
                position: absolute;
                // top: 35%;
                // left: 20%;
                // right: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 100%;
                .burger-title{
                    color: vars.$lightGrey;
                    font-size: 1.5rem;
                    font-weight: 900;
                    text-transform: uppercase;

                    .burger-subTitle{
                        color: vars.$lightGrey;
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                }

                > li {
                opacity: 0;
                transition: .5s;
                transition-delay: 0s;
                // margin-bottom: 2rem;

                    > a {
                        text-decoration: none;
                        // text-transform: uppercase;
                        color: vars.$lightGrey;
                        font-weight: 700;
                        font-family: sans-serif;
                        display: block;
                        margin: 1rem;
                    }
                }
            }
        }

        input:checked ~ nav { 
            height: 100%;
            transition-delay: 0s;

            > ul {
                > li {
                opacity: 1;
                transition-delay: .5s;
                }
            }
        } 
    }

@media screen and (min-width: 950px) {
    #header-nav-mobile {
        display: none;
    }
    
}