@use 'src/styles/vars';

@keyframes buttonHover {
    from {
        width: 8rem;
        height: 8rem;
        -moz-transform: rotate(341deg);
        -webkit-transform: rotate(341deg);
        -o-transform: rotate(341deg);
        -ms-transform: rotate(341deg);
        transform: rotate(341deg);
    }
    to {
        width: 10rem;
        height: 10rem;
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    
}
#header {
    box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
    margin-bottom: 1rem;
    width: 100vw;
    #header-social {
        background-color: vars.$violet;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0.5rem;
        padding-right: 2rem;

        #header-main__join {
            display: none;
        }
        .header-social__item {
            margin-left: 0.5rem;
        }
    }

    #header-main-main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.5rem;

        #header-main__logo {
            img {
                width: 15rem;
            }
        }

        #header-main__title {
            margin: 1rem 0;
            margin-left: -15rem;

            #title-assoc {
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 0.2rem;
            }

            #title-vh {
                font-size: 3.5rem;
                font-weight: bold;
                margin-bottom: 0.2rem;
                margin-left: 1rem;
            }

            #title-cc {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 0.2rem;
                margin-left: 1rem;
            }

            #title-orga {
                font-size: 1rem;
                font-style: italic;
            }
        }

        #header-main__join {
            display: flex;
            width: 30%;
            
            #join-button {
                background-color: vars.$orange;
                margin: auto;
                box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
                transition-duration: 1s;

                &:hover {
                    animation: buttonHover 1s;
                    width: 10rem;
                    height: 10rem;
                }
            }

            #donate-button {
                background-color: vars.$violet;
                box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
            }
            .join-click {
                width: 8rem;
                height: 8rem;
                margin: auto;
                border-radius: 50%;
                border: none;
                color: vars.$lightGrey;
                font-weight: bold;
                font-size: 1.2rem;
                -moz-transform: rotate(341deg);
                -webkit-transform: rotate(341deg);
                -o-transform: rotate(341deg);
                -ms-transform: rotate(341deg);
                transform: rotate(341deg);
                transition-duration: 1s;

                &:hover {
                    animation: buttonHover 1s;
                    width: 10rem;
                    height: 10rem;
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
                }

                &:last-child {
                    margin-left: -1rem;
                }
            }
        }
    }
        #header-main__bg {
            width: 100vw;
            height: 15px;
            background-color: vars.$orange;
            margin: -8.5rem 0 8.5rem
        }
}

@media screen and (max-width: 1550px) {
    #header {
        #header-main-main {
            #header-main__title {
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    #header {
        margin-top: 3rem;
        margin-bottom: 2rem;
        #header-social {
            display: none;
        }

        #header-main-main {
            margin-top: 1.5rem;
            #header-main__join {
                .join-click {
                    width: 6.5rem;
                    height: 6.5rem;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    #header {
        width: 100vw;
        #header-social {
            justify-content: space-between;
            padding-right: 0.5rem;
            #header-main__join {
                display: flex;
                justify-content: space-between;
                width: 50%;
                height: 80%;

                #join-button {
                    background-color: vars.$orange;
                    border: none;
                    border-radius: 5px;
                    padding: 0.5rem;
                    color: vars.$lightGrey;
                }

                #donate-button {
                    background-color: vars.$orange;
                    border: none;
                    border-radius: 5px;
                    padding: 0.5rem;
                    color: vars.$lightGrey;
                }
            }
        }
        #header-main {
            width: 100vw;
        #header-main-main {
            justify-content: space-evenly;
            padding-right: 0;
            min-width: 100vw;
            #header-main__logo {
                img {
                    max-width: 10rem;
                }
            }
            #header-main__title {
                margin-left: 0;
            }
        #header-main__join {
            display: none;
            // flex-direction: column;
            // justify-content: flex-end;
            // align-items: flex-end;
            .join-click {
                height: 2.5rem;
                width: 7.5rem;
                font-weight: normal;
                font-size: 0.8rem;
                text-align: left;
                padding-left: 0.8rem;
                border-radius: 25px 0 0 25px;
                -moz-transform: rotate(0);
                -webkit-transform: rotate(0);
                -o-transform: rotate(0);
                -ms-transform: rotate(0);
                transform: rotate(0);

                &:last-child {
                    margin-left: 0;
                    margin-top: 1rem;
                    width: 6.5rem;
                }
            }
        }
        }
    }
    }
    
@media screen and (max-width: 550px) {
    #header {
        #header-main-main {
            #header-main__title {
                
                // margin: 1rem 0;
                // margin-left: -15rem;

                #title-assoc {
                    font-size: 1rem;
                    font-weight: bold;
                    // margin-bottom: 0.2rem;
                }

                #title-vh {
                    font-size: 2.5rem;
                    font-weight: bold;
                    margin-bottom: 0.2rem;
                    margin-left: 1rem;
                }

                #title-cc {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 0.2rem;
                    margin-left: 1rem;
                }

                #title-orga {
                    font-size: 1rem;
                    font-style: italic;
                }
            }
        }

        #header-main__bg {
            width: 100vw;
            height: 8px;
            background-color: vars.$orange;
            margin: -6.2rem 0 6.2rem
        }
    }
}
}