@use 'src/styles/vars';

main {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 70vw;
        margin: 2rem auto;

        #article_date,
        .article_author {
            font-size: 0.8rem;
            text-align: center;
            font-style: italic;

            .firstname {
                text-transform: uppercase;
            }

            .lastname {
                text-transform: capitalize;
            }
        }

        h1 {
            text-transform: uppercase;
            font-size: 2.5rem;
            font-weight: bold;
            margin: 2rem;
            text-align: center;
            height: auto;
            line-height: 3rem;
        }

        .article_pictures {
            max-width: 50rem !important;
            height: auto !important;
            max-height: 30rem !important;
            border-radius: 10px;
            margin: 2rem;
            box-shadow: 0px -1px 22px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px -1px 22px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px -1px 22px 0px rgba(0, 0, 0, 0.75);
        }

        #article_overview {
            font-style: italic;
            font-weight: bold;
            font-size: 1.3rem;
            text-align: center;
        }

        aside {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 2rem;
            max-width: 90vw;

            .article_paragraph {
                margin: auto 2rem;
                text-align: justify;
                text-justify: inter-word;

                a {
                    color: blue;
                    text-decoration: underline;
                }
            }

            .article_paragraph--option {
                width: auto;
                min-width: 200px;
            }

            .article_picture--option {
                width: auto;
                min-width: 200px;
                height: auto;
                min-height: 30%;
            }

            .article_part {
                width: 100%;
                display: flex;
            }

            #youtube-wrapper {
                position: relative;
                padding-top: 56.25%;
                /* 720 / 1280 = 0.5625 */
            }

            #youtube-player {
                position: absolute;
                top: 0;
                left: 0;
            }

            #third_paragraph {
                margin-bottom: 2rem;
            }
        }


        #article_share {
            p {
                font-size: 1.2rem;
                font-weight: bold;
                font-style: italic;
                text-align: center;
                margin: 1rem;
            }

            div {
                a {
                    margin: 0.5rem;
                    width: 5rem;
                }
            }
        }

        .actuality_button {
            border: vars.$violet solid 1px;
            border-radius: 25px;
            width: 10rem;
            height: 2rem;
            font-size: 1rem;
            margin: auto auto;

            &:hover {
                background-color: vars.$orange;
                border: vars.$orange;
                color: vars.$lightGrey;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    main {
        article {
            max-width: 60vw;

            h1 {
                font-size: 2rem;
                margin: 1rem;
            }

            .article_pictures {
                max-width: 40rem !important;
                max-height: 20rem !important;
            }

            .article_paragraph {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            aside {
                .article_part {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                #third_paragraph {
                    flex-direction: column-reverse;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 0 !important;

        article {
            max-width: 60vw;

            // h1 {
            //     font-size: 1.5rem;
            //     margin: 1rem;
            // }

            .article_pictures {
                max-width: 30rem !important;
                max-height: 15rem !important;
            }

            .article_paragraph {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            aside {
                .article_part {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .article_picture--option {
                        width: auto !important;
                        min-width: none !important;
                        height: auto !important;
                        min-height: none !important;
                    }
                }

            }
        }
    }
}


@media screen and (max-width: 420px) {
    main {
        article {
            width: 100vw !important;

            h1 {
                font-size: 1.5rem;
                margin: 1rem;
            }

            .article_pictures {
                max-width: 70vw !important;
                max-height: 15rem !important;
            }

            .article_paragraph {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            aside {
                width: 100vw !important;

                .article_part {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .article_picture--option {
                        width: 20vw !important;
                        min-width: none !important;
                        height: auto !important;
                        min-height: none !important;
                    }
                }

            }
        }
    }
}