@use 'src/styles/vars';

.rh {
    section {
        .rh-left {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem auto;
            width: 100%;

            .img-container {
                filter: drop-shadow(7px 0px 5px rgba(50, 50, 0, 0.5));

                img {
                    clip-path: circle(50% at 50% 50%);
                    width: 10rem;
                    height: 10rem;
                }
            }

            aside {
                margin-left: 2rem;
                font-size: 1.5rem;
                background-color: vars.$orange;
                border-radius: 50% 25px 25px 50%;
                height: 12rem;
                width: auto;
                min-width: 30rem;
                padding-left: 9rem;
                padding-right: 2rem;
                margin-left: -5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: vars.$lightGrey;
                box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.75) inset;
                -webkit-box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.75) inset;
                -moz-box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.75) inset;

                .function {
                    font-style: italic;
                }

                .name {
                    font-weight: bold;
                    font-size: 2rem;
                }

                .mail {
                    font-size: 1.2rem;
                    text-decoration: underline;
                    margin-top: 1rem;
                }

                .phone {
                    font-size: 1.2rem;
                }
            }
        }


        .rh-right {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem auto;
            width: 100%;

            .img-container {
                filter: drop-shadow(-7px 0px 5px rgba(50, 50, 0, 0.5));

                img {
                    clip-path: circle(50% at 50% 50%);
                    width: 10rem;
                    height: 10rem;
                }
            }

            aside {
                margin-left: 2rem;
                font-size: 1.5rem;
                background-color: vars.$violet;
                border-radius: 25px 50% 50% 25px;
                height: 12rem;
                width: auto;
                min-width: 30rem;
                padding-left: 2rem;
                padding-right: 12rem;
                margin-right: -8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: vars.$lightGrey;
                box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.75) inset;
                -webkit-box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.75) inset;
                -moz-box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.75) inset;

                .function {
                    font-style: italic;
                }

                .name {
                    font-weight: bold;
                    font-size: 2rem;
                }

                .mail {
                    font-size: 1.2rem;
                    text-decoration: underline;
                    margin-top: 1rem;
                }

                .phone {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .desk-violet {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        article {
            max-width: 45%;

            aside {
                background-color: vars.$violet;
            }
        }
    }

    .desk-orange {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        article {
            max-width: 45%;

            aside {
                background-color: vars.$orange;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .rh {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

        section {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .rh {
        padding-right: 2rem !important;
    }
}