{% extends 'base.html.twig' %}

{% block title %}API de l'AVH Caen Calvados
{% endblock %}

{% block body %}
	<style>
		.container {
			font: 18px / 1.5 sans-serif;
			width: 100vw;
			height: 100vh;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			background-image: url('https://avhcaen.fr/static/media/logo.d272c8bbb18a1edb56ad.png');
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden !important;
		}
		.text {
			text-transform: uppercase;
			padding: 10rem;
			border-radius: 50px;
			background: rgba(255, 255, 255, 0.4);
			box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
			backdrop-filter: blur(9.5px);
			-webkit-backdrop-filter: blur(9.5px)
		}
        p, a {
            text-transform: none;
        }
	</style>

	<div class="container">
		<div class="text">
			<h1>API de l'AVH Caen Calvados</h1>
            <p>Si vous êtes perdu(e)s, vous pouvez contacter Jonathan TURPIN.</p>
            <a href="mailto:jturpin@avhcaen.fr">jturpin@avhcaen.fr</a>
            <p>06 48 00 19 46</p>
		</div>
	</div>
{% endblock %}
