{% extends '@!EasyAdmin/layout.html.twig'%}

{% block content_title %}
	<h1 class="text-center" style="margin:3rem">

		Administration du site de l'AVH Caen Calvados
	</h1>
{% endblock %}
{% block main %}
	{# <h3>Ce backoffice est réservé à l'administrateur du site</h3> #}
	<div style="display:flex; justify-content: space-evenly; align-items:center">
		<img src="https://avhcaen.fr/static/media/logo.d272c8bbb18a1edb56ad.png" alt="logo AVH Caen" class="img-responsive center-block" style="width: 200px; height: 200px; display: block">
		<div>
			<h4 style="font-style: italic; text-decoration: underline;">Fonctionnement</h4>
			<p>Ici, vous pouvez :</p>
			<ul>
				<li>
					<strong>Accueil</strong>
					Permet de revenir à la page d'accueil du
					<em>Back Office</em>
				</li>
				{# <li>
																																																																	<strong>Utilisateurs :</strong>
																																																																	Permet d'ajouter, éditer, ou supprimer des utilisateurs
																																																																</li> #}
				<li>
					<strong>Actualités :</strong>
					Permet d'administrer les différents articles (ajouter, éditer, supprimer) de la page d'actualités
					<a href="https://avhcaen.fr/#/actualites" target="_blank">cette page</a>
				</li>
				{# <li>
																																																																					<strong>Boutique :</strong>
																																																																					Permet d'ajouter, éditer, ou supprimer des articles de
																																																																					<a href="https://avhcaen.fr/boutique/catalogue" target="_blank">cette page</a>
																																																																					<span style="color: yellow">
																																																																						<i class="fa fa-triangle-exclamation"></i>
																																																																						EN COURS DE D&Eacute;VELOPPEMENT
																																																																						<i class="fa fa-triangle-exclamation"></i>
																																																																					</span>
																																																																				</li> #}
				<li>
					<strong>Mission :</strong>
					Permet d'ajouter, éditer, ou supprimer des missions, visible notamment depuis la
					<a href="https://avhcaen.fr/" target="_blank">page d'accueil</a>
				</li>
				<li>
					<strong>Partenaires :</strong>
					Permet d'ajouter, éditer, ou supprimer des partenaires de la page prévue à cet effet.
					<a href="https://avhcaen.fr/#/mecenat-partenariat" target="_blank">cette page</a>
				</li>
				<li>
					<strong>AVH Caen :</strong>
					Permet d'administrer la page relative à la page du
					<a href="https://avhcaen.fr/#/caen/rh" target="_blank">bureau l'AVH Caen Calvados</a>
					ainsi que
					<a href="https://avhcaen.fr/#/caen/benevoles" target="_blank">des bénévoles</a>
					<span style="color: yellow">
						<i class="fa fa-triangle-exclamation"></i>
						EN COURS DE D&Eacute;VELOPPEMENT
						<i class="fa fa-triangle-exclamation"></i>
					</span>
				</li>
				<li>
					<strong>AVH Compte Rendu :</strong>
					Permet d'ajouter, éditer, ou supprimer des comptes rendu. Il n'y a pas d'affichage prévu pour le moment.
					<span style="color: yellow">
						<i class="fa fa-triangle-exclamation"></i>
						EN COURS DE D&Eacute;VELOPPEMENT
						<i class="fa fa-triangle-exclamation"></i>
					</span>
				</li>
				{# <li>
																																																																					<strong>AVH National :</strong>
																																																																					Permet de gérer les statistiques nationales de
																																																																					<a href="https://avhcaen.fr/AVH" target="_blank">l'AVH Caen Calvados</a>
																																																																				</li> #}
				<li>
					<strong>FAQ :</strong>
					Permet d'ajouter, éditer, ou supprimer des questions. Il n'y a pas d'affichage prévu pour le moment.
					<span style="color: yellow">
						<i class="fa fa-triangle-exclamation"></i>
						EN COURS DE D&Eacute;VELOPPEMENT
						<i class="fa fa-triangle-exclamation"></i>
					</span>
				</li>
				<li>
					<strong>Législation :</strong>
					Permet d'administrer la page relative aux mentions légales
					<a href="https://avhcaen.fr/#/mentions-legales" target="_blank">mentions légales</a>
					<span style="color: yellow">
						<i class="fa fa-triangle-exclamation"></i>
						EN COURS DE D&Eacute;VELOPPEMENT
						<i class="fa fa-triangle-exclamation"></i>
					</span>
				</li>
				<li>
					<strong>Guide d'utilisation :</strong>
					Visible uniquement sur le back office, permet de trouver la documentation nécessaire à l'utilisation de ce back office.
					<span style="color: yellow">
						<i class="fa fa-triangle-exclamation"></i>
						EN COURS DE D&Eacute;VELOPPEMENT
						<i class="fa fa-triangle-exclamation"></i>
					</span>
				</li>
			</ul>
			<div style="font-style: italic; border: 1px solid gray; padding: 20px; border-radius: 25px; margin: 1rem 0">
				<h4 style="text-decoration: underline">Les dernières mises à jour</h4>
				<ul>
					<p style="list-style:none; font-style:italic; font-size: 16px; text-transform: uppercase">update du 29/06/2022</p>
					<li style="font-style:italic; font-size: 16px; text-transform: uppercase; text-decoration: underline">BACK OFFICE</li>
					<ul>
						<li>Page d'accueil montre les dernières mises à jours</li>
						<li>Les articles sont liés aux utilisateurs</li>
						<li>Préparation du guide d'utilisateurs (pas encore disponible pour le moment)</li>
					</ul>
				</ul>
			</div>
			<div style="font-style: italic; border: 1px solid gray; padding: 20px; border-radius: 25px">
				<h4 style="text-decoration: underline;">Message du développeur</h4>
				<p>Pour toutes questions, rapprochez-vous de Jonathan TURPIN par mail à
					<a href="mailto: jturpin@avhcaen.fr">jturpin@avhcaen.fr</a>
					ou par téléphone au 06 48 00 19 46
				</p>
				<p>Bonne journée</p>
				<p>Jonathan TURPIN</p>
			</div>
		</div>
	</div>
{% endblock %}
