.informatique {

    article {

        .informatique_content {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .picture {
                width: auto;
                min-width: 25%;
                height: auto;
            }

            div {
                max-width: 50%;
            }

            img {
                width: 20rem;
                margin-right: 1rem;
            }
        }

        ul {
            margin: 20px;
        }
    }
}

// @media screen and (max-width: 500px) {
//     .braille {
//         padding-right: 2rem !important;
//     }
// }