@use 'src/styles/vars';

.main-actuality {
    width: 100%;
    height: 20rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    .main-actuality-content-text {
        height: 100%;
        width: 75vw;
        float: left;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .main-actuality-content {
            background-color: vars.$orange;
            color: vars.$lightGrey;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 90%;
            width: 100%;
            padding-right: 6rem;
            box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75) inset;
            -webkit-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75) inset;
            -moz-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75) inset;

            .main-actuality-content-title {
                margin-top: 1rem;
            }
            .main-actuality-content-contentText {
                width: 80%;
                height: auto;

            }

            .main-actuality-content-link {
                bottom: 0;
                width: 30%;
                height: 15%;
                min-height: 30px;
                margin-top: 1rem;
                margin-bottom: 1rem;
                .main-actuality-content-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    min-width: 8.8rem;
                    border-radius: 25px;
                    border: none;
                    background-color: vars.$lightGrey;
                    border: 2px solid transparent;
                    color: vars.$TGrey;
                    box-shadow: 0px -1px 22px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 0px -1px 22px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px -1px 22px 0px rgba(0,0,0,0.75);

                    &:hover {
                        background-color:transparent;
                        border: 2px solid vars.$lightGrey;
                        color: vars.$lightGrey;
                    }

                    .main-actuality-content-button-arrow {
                        margin: auto 0.5rem;
                    }
                }
            }
        }
    }

    .main-actuality-content-img--container {
        filter: drop-shadow(-7px 0px 5px rgba(50, 50, 0, 0.5));
        position: absolute;
        height: 100%;
        right: 0;
        .main-actuality-content-img {
            clip-path: polygon(20% 0%, 100% 0, 100% 100%, 20% 100%, 0% 50%);
            height: 100%;
            width: 40vw;
            justify-self: end;
        } 
    }
}

@media screen and (max-width: 950px) {
    .main {
        margin-top: 3rem;
        .main-actuality {
            // background-color: green;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .main-actuality-content-text {
                width: 100%;
                height: 100%;

                .main-actuality-content {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                }
            }
 
            .main-actuality-content-img--container {
                filter: none;
                position: initial;
                height: 100%;
                width: 100vw;
                margin-bottom: 5rem;
                .main-actuality-content-img {
                    clip-path: none;
                    height: 100%;
                    width: 100vw;
                    // bottom: 0;
                    // justify-self: end;
                } 
            }

        }
    }
}