@use 'src/styles/vars';

.main-map {
    width: 90vw !important;
    height: 20rem;
    margin-bottom: 3rem;

    .mapboxgl-popup-content {
        font-weight: bold;
        font-size: 1rem;

        p {
            font-size: 0.8rem;
            font-style: italic;
            font-weight: normal;
        }
    }
}

@media screen and (max-width: 950px) {
    .main-map {
        height: auto;
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .main-map {
        width: 100vw !important;
    }
}