@use 'src/styles/vars';

.main-president {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 20rem;
    position: relative;

    .main-president-content {
        height: 100%;
        width: 75vw;
        float: right;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main-president-content-text {
            background-color: vars.$violet;
            color: vars.$lightGrey;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 90%;
            width: 90%;
            padding-left: 12rem;
            box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.75) inset;
            -webkit-box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.75) inset;
            -moz-box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.75) inset;

            .main-president-content-title {
                font-family: 'La Belle Aurore', cursive;
                font-size: 3rem;
            }

            .main-president-content-contentText {
                width: 80%;
                margin: 1rem auto;
            }

            .main-president-content-sign {
                padding-left: 10rem;
                font-style: italic;

                #name {
                    font-size: 1.5rem;
                    font-style: normal;
                }
            }
        }
    }

    .main-president-content-img--container {
        filter: drop-shadow(7px 0px 5px rgba(50, 50, 0, 0.5));
        position: absolute;
        height: 100%;
        left: 10rem;

        .main-president-content-img {
            clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
            height: 100%;
            min-width: 15vw;
            justify-self: end;
        }
    }
}

@media screen and (max-width: 950px) {
    .main-president {
        height: auto;
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-president-content {
            width: 100vw;
            margin: 0;

            .main-president-content-text {
                width: 100%;
                padding: 1rem;

                .main-president-content-sign {
                    padding: 0;
                }
            }
        }

        .main-president-content-img--container {
            filter: none;
            position: relative;
            height: 400px;
            width: auto;
            left: 0;

            .main-president-content-img {
                clip-path: none;
                // height: 100%;
                // width: 100vw;
                justify-self: end;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .main-president {
        .main-president-content {
            .main-president-content-text {
                .main-president-content-title {
                    font-size: 1.9rem;
                }

                .main-president-content-contentText {
                    font-size: 1rem;
                }

                .main-president-content-sign {
                    #name {
                        font-size: 1.3rem;
                    }

                    p {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}