@use 'src/styles/vars';

.mp {
    #mp_section {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 1rem;

        .mp_article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            border: solid 1px vars.$TGrey;
            border-radius: 25px;
            padding: 1rem;
            box-shadow: 0px 0px 30px 6px vars.$TGrey;
            -webkit-box-shadow: 0px 0px 30px 6px vars.$TGrey;
            -moz-box-shadow: 0px 0px 30px 6px vars.$TGrey;

            .mp_img {
                max-width: 18rem;
                min-width: 10rem;
            }

            .mp_name {
                font-size: 1rem;
                font-style: italic;
                margin: 0.5rem
            }
        }
    }
}

// @media screen and (max-width: 500px) {
//     .braille {
//         padding-right: 2rem !important;
//     }
// }